nav

.nav-list a.navhome{
    background-color: #aa0000;
    color: white;
  }

.sub-nav-list a.navhome{
    background-color: #aa0000;
    color: white;
  }
  
@media screen {

}

.gallery-thumb img:hover {
    border: 4px solid #aa0000;
    cursor:pointer;
  }
